body{
  font-family: 'Lato';
  margin: 0px 0px 0px 0px;
}

/* Navbar styling */
#navbar{
  position: static;
  width: 100%;
  margin: 30px 0px 0px 0px;
  height: 40px;
  font-size: 30px;
  text-align: right;
  font-weight: bold;
}

.navText{
  display: inline-block;
  margin: 0px 40px 0px 0px;
}

.navText:hover{
  cursor: pointer;
}

.navText > a{
  text-decoration: none;
  color: black;
}

/* Page Name Header */
#largeNameHolder{
  width: 100%;
  height: 100px;
  margin: 0px 0px 0px 0px;
}

#largeName{
  font-size: 100px;
  margin: 0px 0px 0px 0px;
}

/* Social icons */
#social{
  position: fixed;
  bottom: 5px;
  left: 10px;
  transition: color 0.3s ease;
}

#gitbutton{
  transition: color 0.3s ease;
}

#gitbutton:hover{
  color: #414042;
  cursor: pointer;
}

#linkedinbutton{
  transition: color 0.1s ease;
  margin-left: 10px;
}

#linkedinbutton:hover{
  color: #414042;
  cursor: pointer;
}

/* ====================
    HOME PAGE
   ====================
*/

/* Word Swap */

.vanish{
  display: inline-block;
  margin: 0px 4px 0px 4px;
}

.stretch{
  white-space: nowrap;
  overflow: hidden;
}

#headerHolder{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 130px;
}

#at{
  display: inline-block;
  margin: 0px 4px 0px 4px;
}

a:visited{
  color: black;
}

/* ====================
    PROJECTS PAGE
   ====================
*/

#projects1{
  width: 100%;
  height: 400px;
}

#projectsBlurb{
  font-size: 32px;
  font-weight: bold;
  margin-top: 130px;
  text-align: center;
}

#navArrow{
  width: 0px;
  height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid black;
  position: fixed;
  bottom: 20px;
  left: 50%;
  right: 50%;
  cursor: pointer;
  transition: transform 0.5s;
}

#navArrow:hover{
  transform: translate(0px, -5px);
}

#PocketPal{
  width: 100%;
  height: 700px;
}








