body{
  font-family: 'Lato';
  margin: 0px 0px 0px 0px;
}

/* Navbar styling */
#navbar{
  position: static;
  width: 100%;
  margin: 30px 0px 0px 0px;
  height: 40px;
  font-size: 30px;
  text-align: right;
  font-weight: 300;
}

.navText{
  display: inline-block;
  margin: 0px 40px 0px 0px;
  cursor: pointer;
}

.navText > a{
  text-decoration: none;
  color: black;
}
/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: black;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, 
.hvr-underline-from-left:focus:before, 
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Page Name Header */
#largeNameHolder{
  width: 100%;
  height: 120px;
  margin: 0px 0px 0px 0px;
}

#largeName{
  font-size: 100px;
  font-weight: 300;
  margin: 0px 0px 0px 0px;
}

/* Social icons */
#socialProjects{
  transition: color 0.3s ease;
  width: 100%;
  background-color: white;
  height: 50px;
  color: black;
}

#socialIndex{
  position: absolute;
  bottom: 2px;
  left: 0px;
}

#gitbutton{
  margin-left: 5px;
  transition: color 0.3s ease;
}

#gitbutton:hover{
  color: #414042;
  cursor: pointer;
}

#linkedinbutton{
  transition: color 0.1s ease;
  margin-left: 10px;
}

#linkedinbutton:hover{
  color: #414042;
  cursor: pointer;
}

/* ====================
    HOME PAGE
   ====================
*/

/* Word Swap */

.vanish{
  display: inline-block;
  margin: 0px 4px 0px 4px;
}

.stretch{
  white-space: nowrap;
  overflow: hidden;
}

#headerHolder{
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  margin-top: 130px;
}

#at{
  display: inline-block;
  margin: 0px 4px 0px 4px;
}

a:visited{
  color: black;
}

/* ====================
    PROJECTS PAGE
   ====================
*/

#projects1{
  width: 100%;
  height: 300px;
  background-color: white;
}

#projectsBlurb{
  font-size: 32px;
  font-weight: 300;
  padding-top: 10%;
  text-align: center;
}

.colorText{
  display: inline-block;
  color: red;
  margin-top: 0px;
  margin-bottom: 0px;
}

#navArrow{
  width: 0px;
  height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid black;
  display: relative;
  margin-top: -45px;
  margin-left: 50%;
  cursor: pointer;
  transition: transform 0.5s;
}

#navArrow:hover{
  transform: translate(0px, -5px);
}

/* Design heavily, heavily influenced by the amazing Evan Tarrh:
evan.land
*/

.card{
  position: absolute;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  padding: 7% 17% 7% 17%;
  transition: all 0.2s ease;
  text-align: center;
  overflow: hidden;
}

.card:hover{
  overflow: scroll;
}

.cardHeading{
  font-size: 4vmax;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 5%;
}

.cardText{
  font-size: calc(1vw + 2vh);
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.card h3 a{
  text-decoration: none;
  color: black;
}

.card h3 a:clicked{
  text-decoration: none;
  color: black;
}

.tools{
  height: 10%;
  text-align: center;
  width: 100%;
  margin-top: 10%;
}

.toolsPic{
  height: 3vmax;
  margin-top: 0px !important;
  margin-bottom: -10px;
  vertical-align: center;
}

.fa.fa-external-link{
  font-size: 16px;
}

#PocketPal{
  position: relative;
  height: 710px;
  background-color: #ff3c3c; /*rgb(255, 157, 53)*/
  overflow: hidden;
}

#ClickGame{
  position: relative;
  height: 710px;
  background-color: #61d500; /*#00CED1;*/
  overflow: hidden;
}

#Personal{
  position: relative;
  height: 710px;
  background-color: #0940ca; /*#ff740d;*/
  overflow: hidden;
}

#footer{
  background-color: black; /*#252525;*/
  color: #4e4e4e;
  font-weight: 300;
  height: 75px;
  text-align: center;
}

#footer p{
  margin: 0px 0px 0px 0px;
  padding-top: 20px;
  font-size: 20px;
}

/* PocketPal div */








