/* Styling for nateosher.com */

body{
    /* background-color: #B7B8B8; */
}

h1 {
    color: #0f0f0f;
    font-size: 65px;
    font-family: "Roboto";
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: color 0.5s ease;
}

.change{
    color: black;
}

.boxes{
    text-align: center;
}
div > p {
    position: relative;
    text-align: center;
    top: 30%;
    bottom: 30%;
    transition: color 0.5s ease;
}

.boxrow{
    width: 100%;
    text-align: center;
    height: 250px;
    margin-top: 15px;
}

div > a{
    text-decoration: none;
    color: black;
}

.box{
    vertical-align: top;
    transition: background-color 0.5s ease;
    font-size: 35px;
    font-family: 'roboto';
    margin: 5px;
    height: 100%;
    width: 25%;
    outline: solid 1px;
    display: inline-block;
}

.invisitext{
    color: white;
    font-size: 25px;
}

.boxChange{
    background-color: #0f0f0f;
    color: white;
}

.buttonrow{
    width: 100%;
    position: fixed;
    bottom: 0;
}

ul{
    text-align: right;
    margin-right: 5%;
}

.buttonrow ul a{
    text-align: right;
    color: white;
    text-decoration: none;
    margin-top: 15px;
}

.buttonrow ul li{
    text-align: center;
    margin-bottom: -125px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: 'roboto';
    height: 150px;
    width: 125px;
    vertical-align: bottom;
    display: inline-block;
}

.subBody{
    text-align: center;
    font-family: 'roboto';
    font-size: 25px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    border-right: 7px solid;
    border-left: 7px solid;
    padding-left: 20px;
    padding-right: 20px;
}

.pug{
    transition: 1s ease;
    border: 1px solid;
    text-decoration: none;
    color: black;
    padding: 2px;
}

.pugChange{
    background-color: black;
    color: white;
}

.sideMenu{
    height: 40%;
    width: 400px;
    position: fixed;
    margin-right: 0px;
    margin-left: -380px;
    vertical-align: top;
}

.sideMenu ul{
    height: 100%;
    padding-left: 0px;
}
.sideMenu ul li{
    transition: 1s ease;
    width: 100%;
    height: 25%;
    margin-bottom: 0px;
    border: 4px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

.sideMenu ul a{
    text-decoration: none;
    color: black;    
}

#last{
    border-bottom: 4px solid black;
}

p#first{
    font-family: 'roboto';
    margin-top: 6%;
    font-size: 210%;
}

p#second{
    font-family: 'roboto';
    margin-top: 6%;
    font-size: 210%;
}

p#third{
    font-family: 'roboto';
    margin-top: 6%;
    font-size: 210%;
}

p#fourth{
    font-family: 'roboto';
    margin-top: 6%;
    font-size: 210%;
}